@{
    ViewBag.Title = "Home Page";
}


<section class="bg-light" id="services">
    <div class="row mt-5 ">
        <div class="col-lg-1 text-center">
        </div>
        <div class="col-lg-10 text-center">
            <h2> Welcome message </h2>
        </div>
        <div class="col-lg-1 text-center">
        </div>
    </div>
</section>